body{
  margin: 0;
  padding: 0;
}

section{
  height: 100vh;
  border-top: 2px solid #000;
}

.sec1 {
  background: url(/src/image1.jpg);
  background-attachment: fixed;
}

.sec2 {
  background: url(/src/image2.jpg);
  background-attachment: fixed;
}

.sec3 {
  background: url(/src/image3.jpg);
  background-attachment: fixed;
}

.sec4 {
  background: url(/src/image4.jpg);
  background-attachment: fixed;
}

.sec5 {
  background: url(/src/image5.jpg);
  background-attachment: fixed;
}
